@import '../colors';
@import '../fonts';

.memury-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.memuries-form {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: rgba(13, 163, 196, 0.15);

  padding: 1vw;
  margin: 2vh 0.1vw 2vh 0.1vw;

  font-family: $primary_font;
  color: $primary_2;
  letter-spacing: 0.10em;

  h2 {
    font: {
      weight: medium;
      style: normal;
      size: 2.0em;
    }
  }
  
  input {
    width: 55vw;
    height: 8vh;
    background-color: $primary_3;
    opacity: 50%;
    border-radius: 0px;
    margin: 1em;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 0.15em;
    border: white;
    font: {
      family: 'Boogaloo';
      size: 20px;
      // color: black;
    }

  }
  button {
    width: 55vw;
    height: auto;
    padding:1.2vw;
    margin: 2.5vw;
    margin-top: 3.0vh;

    background: rgba(255, 216, 115, 0.75);
    box-shadow: inset 0px -3px 4px rgba(0, 0, 0, 0.25);
    border-color: beige;
    border-radius: 20px;

    text-align: center;
    letter-spacing: 0.15em;
    color: rgba(0, 0, 0, 0.48);
    font: {
      family: $primary_font;
      style: normal;
      weight: 700;
      size: 1.5em;
    }
  }

}


.memury-container img {
  width: 400px;
  border-radius: 30%;
  box-shadow: 2px 2px 5px rgba(#000, .2), 
							2px 2px 17px rgba(#000, .35), 
							2px 2px 25px rgba(#000, .5);     
}

.memury-container h3 {
  font-family: "Boogaloo", cursive;
  font-style: normal;
  font-weight: 800;
  font-size: 5vw;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.15em;
  color: rgba(13, 163, 196, 0.5);
  filter: blur(0.5px);
  margin: 2vw;
}

              
.mem-text {
  font-family: "Boogaloo", cursive;
  font-style: normal;
  font-weight: 500;
  font-size: 5vw;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.15em;
  color: rgba(13, 163, 196, 0.5);
  filter: blur(0.5px);
}
