@mixin fade-in {
  animation-name: fade-in;
  animation-duration: 1200ms;

  @keyframes fade-in {
  from {opacity: 0%;} 
  }
}

@mixin wake {
  animation-name: wake;
  animation-duration: 4s;

  @keyframes wake {
    0% {background-color: white;}
    20% {background-color:$primary_3;}
    100% {left: 0px }
  }
}


@mixin footer {
    font-family: "Boogaloo", cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 5vw;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15em;
    color: rgba(13, 163, 196, 0.5);
    filter: blur(0.5px);
}