@import 'colors';
@import 'fonts';

@mixin fade-in {
  animation-name: fade-in;
  animation-duration: 1200ms;

  @keyframes fade-in {
  from {opacity: 0%;} 
  }
}


@mixin wake {
  animation-name: wake;
  animation-duration: 4s;
  animation-direction: alternate;

  @keyframes wake {
    0% {color: white;}
    20% {background-color:$primary_3;}
    100% {}
  }
}

@mixin wake-yellow {
  animation-name: wake;
  animation-duration: 4s;
  animation-direction: alternate;

  @keyframes wake {
    0% {color: $primary_3;}
    20% {background-color:$primary_3;}
    100% {}
  }
}

@mixin wake-text {
  animation-name: wake-text;
  animation-duration: 400ms;

  @keyframes wake-text {
    0% {color: white;}
    20% {color:$primary_3;}
    100% {}
  }
}


@mixin footer {
    font-family: "Boogaloo", cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 5vw;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15em;
    color: rgba(13, 163, 196, 0.5);
    filter: blur(0.5px);
}

@mixin pulse {
  box-shadow: 0 0 0 0 $primary_3;
	transform: scale(1);
  animation: pulse 1.2s infinite;

  @keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 $primary_2;
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px $primary_3;
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 $primary_2;
    }
  }
}

@mixin echo {
  box-shadow: 0 0 1 1 $primary_1;
  animation: pulse 1.2s;
  
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 $primary_1;
    }
    
    70% {
      box-shadow: 0 0 0 0 $primary_1;
    }
    
    100% {
      box-shadow: 0 0 0 0 $primary_1;
    }
  }
}


// @mixin shine {
//   background: 
//   linear-gradient(0deg, rgba(13, 163, 196, 0.6) 0%, rgba(255, 216, 115, 0) 84.37%, rgba(255, 255, 255, 0.5) 50.06%);
//   background-image: linear-gradient(down, rgba(13, 163, 196, 0.6) 0%, rgba(255, 216, 115, 0) 84.37%, rgba(255, 255, 255, 0.5) 50.06%);
//   background-repeat: no-repeat;
//   z-index: 5;
  
//   -webkit-animation-duration: 0.5s;
//   -webkit-animation-fill-mode:both; 
//   -webkit-animation-iteration-count: 1;
//   -webkit-animation-name: placeholderShimmer;
//   -webkit-animation-timing-function: linear;

//   @keyframes placeholderShimmer {
//     0% {
//       background-position: 0 926px;
//     }
    
//     100% {
//       background-position: 0 -5000px; 
//     }

//     // 100% {
//     //   background-position: 0 0px;
//     // }
//   }
  
  // }