.lvlup {
  width: 30vw;
  animation: Wiggle;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

// .arrow {
//   text-align: center;
//   margin: 8% 0;
// }
// .bounce {
//   -moz-animation: bounce 2s infinite;
//   -webkit-animation: bounce 2s infinite;
//   animation: bounce 2s infinite;
// }

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.sesh-text {
  font-family: "Boogaloo", cursive;
  font-style: normal;
  font-weight: 1000;
  font-size: 5vw;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.15em;
  color: rgb(0 86 129 / 61%);
  -webkit-filter: blur(0.5px);
  filter: blur(0.2px);
}

.created {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.created-img {
  width: 30vw;
  height: auto;
  border-radius: 5vw;
  margin: 3vw;
}

.created-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 40%;
  border-radius: 10px;
  background: linear-gradient(63deg, rgba(13, 163, 196, 0.6) 0%, rgba(255, 216, 115, 0) 84.37%, rgba(255, 255, 255, 0.5) 50.06%);
  border-radius: 62px;
  width: 90%;
  margin: 2em;
}

