html {
  box-sizing: border-box;
}

@import 'colors';
@import 'fonts';

header {
  display: flex;
  align-items: center;
  background-color: $primary_2;
  height: 6.4vh;
  justify-content: center;
  min-width: 375px;
  padding: 0 13.1px;
  font: {
    family: $primary_font;
    size: 1.2em;
    weight: 500;
  }
  .logo {
    text-align: center;
    color: $primary_1;
    letter-spacing: 2.7px;
    min-height: 24px;
    min-width: 94px;
  }
  .setting {
    position: fixed;
    right: 0;
    height: 24px;
    margin-bottom: 0.07px;
    margin-right: 2vw;
    width: 24px;
  }
}