html {
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 20vh;
  border: 2px solid #f08080;
  border-radius: 10px;
}

.home-top {
  height: 22vh;
  min-width: 375px;
}
.home-bottom {
  height: 61vh;
  min-width: 375px;
}
