@import 'colors';
@import 'fonts';

html {
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 20vh;
  border: 2px solid #f08080;
  border-radius: 10px;
}

.home-top {
  min-height: 22vh;
  min-width: 375px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.home-bottom {
  min: {
    height: 61vh;
    width: 375px;
  } 
  background: {
    color: $primary_2;
    image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
  }
  opacity: 16%;
  border-radius: 20px;
}
.user-image {
  // position: relative;
  margin-top: 3.6vh;
  height: 285px;
  width: 285px;
  border-radius: 50%;
  z-index: 1;
  transform: scale(1);
  animation: pulse-blue 2s infinite;

}


.ring {
  margin-top: 3.6vh;
  position: absolute;
  z-index: 2;
  background-color: transparent;

  box-shadow: 0 0 0 0 rgba(52, 172, 224, 1);
	transform: scale(1);
  animation: pulse 2s infinite;

}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
    border-radius: 50%;
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
  }
}
@keyframes pulse-blue {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(152, 272, 324, 1);
    border-radius: 50%;
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
  }
}