html {
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 20vh;
  border: 2px solid #f08080;
  border-radius: 10px;
}

.home-top {
  height: 22vh;
  min-width: 375px;
  display: flex;
  justify-content: center;
}
.home-bottom {
  height: 61vh;
  min-width: 375px;
}
.home-avatar {
  // position: relative;
}

.ring {
  // position: absolute;
}

.placeholder-circle {
  // position: absolute;
  height: 308px;
  width: 308px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}
