@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

.loading_spinner {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.license {
  height: 24vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  
  background: linear-gradient(180deg, rgba(13, 163, 196, 0.15) 0%, rgba(255, 216, 115, 0.15) 84.37%, rgba(255, 216, 115, 0.15) 89.06%);
  border: 3px dashed #0DA3C4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-top: 2vh;
  

  .dog_name {
    font-family: 'Boogaloo', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.15em;
    color: rgba(0, 0, 0, 0.59);
    margin: 3vh 8.3vw;
    margin-bottom: 2vh;


    background: #FFFFFF;
    border-radius: 20px;
  }
  
  div.dog_details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;



    .avatar {
      border: 1px dashed rgba(255, 216, 115, 0.42);
      box-sizing: border-box;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 1em;

      width: 7em;
      height: 7em;
      margin: 3vh 0vw;
      margin-left: 8.3vw;
    }
    
    div.dog_breed_and_stats {
      display: flex;
      flex-direction: column;
      // justify-content: space-around;
      // padding: 0 8vw;
      width: 55%;

      .dog_breed {
        font-family: 'Boogaloo', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.15em;
        color: rgba(0, 0, 0, 0.59);
        margin: 0 3vw;
        margin-bottom: 3vh;


        background: #FFFFFF;
        border-radius: 20px;
      }
      
      div.dog_stats {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        div.stats_bubble {
          display: flex;
          flex-direction: column;

          .bubble_data {
            border-radius: 50%;
            background-color: #0DA3C4;
            color: #FFFFFF;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2em;
            height: 2em;
            font-family: 'Poppins', sans-serif;
            font-size: 1.5rem;
          }

          .bubble_label {
            font-family: 'Futura';
            font-style: normal;
            font-weight: 500;
            font-size: 9px;
            line-height: 12px;

            letter-spacing: 0.15em;

            // color: #0DA3C4;

            mix-blend-mode: luminosity;
          }
        }
      }

    }
  }
}

.exit-button {
  position: absolute;
  bottom: 11vh;
  left: 40vw;
  width: 20vw;
  z-index: 11;

  font-size: 1.5em;
  background-color: #0DA3C4;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
}