.avatar {
  $avatar-size: 25vw;
  width: $avatar-size;
  height: $avatar-size;
  border-radius: 50%;
  margin-top: 1em;
}

#profile {
  margin-top: 5vh;
}

div.license {
  display: flex;
  flex-direction: column;
}