@import 'colors';

.radialBarChart {
  color: black;
}

.labelList {
  background-color: black;
  width: 40%;
}


.recharts-legend-wrapper [style] {
  // display: flex;
  // flex-direction: column;
  position: initial;
  left: initial;
  top: initial;
  width: initial;
  height: initial;
  // color: black;
}

// .radialBarCart [style] {
//   background-color: black;
//   width: 100px;

// }

// AFFECTING TOOLTIPS HOVER AND LEGEND
.recharts-wrapper [style] {
  // width: 100%;
  // background-color: black;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  // "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  // sans-serif;
  // -webkit-font-smoothing: antialiased;
  // text-align: center;
  // box-sizing: inherit;
  // padding: 0;
  // margin: 0;
  // background-color: black;
  // position: relative;
  // cursor: default;
  // width: 730px;
  // height: 400px;
}
