@import 'colors';

// #root > div > div > div.home-bottom > article > div > div > svg > g > g.recharts-layer.recharts-radial-bar-background


// rainbow chart background
.recharts-wrapper .radialBarChart {
  // overflow: hidden;
}
// .recharts-radial-barCch
.recharts-radial-bar-sectors {
  // opacity: 45%;
}

// .rainbow-pawteam {
//   height: auto;
//   padding-bottom: 100px;
// }
// // this is for each bar
.recharts-layer {
  path {
    // background: linear-gradient(180deg, white 20%, black 100%);
    // fill: url($primary_3);
    // opacity: 60%;
  }

}

.demoButton {
  position: absolute;
  margin-top: 5vh;
  opacity: 50%;
  z-index: 5;
  width: 60vw;
  height: auto;
  background: rgba(255, 216, 115, 0.75);
  box-shadow: inset 0px -3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border-color: beige;
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 0.15em;
  color: rgba(0, 0, 0, 0.8);

}