.session-image {
  width: 30vw;
  height: 30vw;
  border-radius: 1.5em;
}

#session-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 90vw;

  .dog-details {
    background: linear-gradient(180deg, rgba(81, 196, 221, 0.25) 0%, rgba(66, 0, 255, 0.25) 97.4%);
    border-radius: 20px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
    gap: 2vw;

    span {
      background: #FFFFFF;
      border-radius: 20px;
      width: 70%;

      font-family: 'Boogaloo';
      font-style: normal;
      font-weight: 400;
      font-size: 2em;
      // line-height: 21px;
      text-align: center;
      letter-spacing: 0.15em;

      color: rgba(0, 0, 0, 0.59);
    }
  }
}

.session-containers-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  margin: 0.5em 0;
  width: 100%;
}

.session-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 40%;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(81, 196, 221, 0.25) 0%, rgba(66, 0, 255, 0.25) 97.4%);
  border-radius: 62px;
  width: 90%;
}

.session-container span {
  font-family: 'Boogaloo';
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 2em;
  text-align: center;
  letter-spacing: 0.15em;

  color: #000000;
}

.sesh-title {
  font-family: 'Boogaloo', cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #0da3c4;
  mix-blend-mode: luminosity;
}
