@import 'colors';

.sessions {
  background: linear-gradient(180deg, rgba(13, 163, 196, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%);
  border-radius: 15px;
  margin: 0.5vh 0;
  width: 90vw;
  border: 2px dashed #FFD873;
  box-sizing: border-box;
  height: 26vh;
  overflow-y: scroll;

  .sessions_list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .scroll_down_text {
      font-size: 1.3em;
    }
  }

  #sessions_license {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .arrow {

      // margin: 30px 0;
      
      span{
        display: block;
        width: 1em;
        height: 1em;
        border-bottom: 4px solid #06A8FF;
        border-right: 4px solid #06A8FF;
        transform: rotate(45deg);
        margin-right: 2em;
        animation: animate 1.5s infinite;
      }
      .arrow span:nth-child(2){
        animation-delay: -0.2s;
      }
      .arrow span:nth-child(3){
        animation-delay: -0.4s;
      }
      @keyframes animate {
        0%{
          opacity: 0;
          transform: rotate(45deg) translate(-20px,-20px);
        }
        50%{
          opacity: 1;
        }
        100%{
          opacity: 0;
          transform: rotate(45deg) translate(20px,20px);
        }
      }
    }
}


  h2 {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-left: 5%;

    color: rgba(0, 0, 0, 0.59);

    mix-blend-mode: luminosity;
  }
  @media only screen and (width > 505px) {
    h2 {
      font-size: 2.0em;  
    }
  }
  .scroll_down_text {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 0.95em;
    letter-spacing: 0.15em;
    margin: 1em;

    color: rgba(13, 163, 196, 0.5);

    // filter: blur(0.5px);
  }
  
  li.session_row {
    
    display: flex;
    flex-direction: row;
    margin: 1em 0;
    justify-content: space-around;
    
    .timestamp_component {
      display: flex;
      align-items: center;

      span {
        font-family: 'Futura';
        font-style: normal;
        font-weight: 500;
        font-size: 1.0em;
        line-height: 16px;
        letter-spacing: 0.1em;

        color: rgba(0, 0, 0, 0.59);
      }
    }
    @media only screen and (width > 505px) {
      li.session_row {
        justify-content: space-evenly;
      }
      .timestamp_component {
        display: flex;
        align-items: center;
  
        span {
          font-family: 'Futura';
          font-style: normal;
          font-weight: 500;
          font-size: 1.8em;
          line-height: 10px;
          letter-spacing: 0.05em;
          color: $primary_2;
        }
      }
    }

    .results_component {
      
      display: flex;
      flex-direction: row;
      
      .result {
        
        background: #FFFFFF;
        box-shadow: inset -2px 0px 2px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        margin: 0 0.3em;
        padding: 0.3em;


        font-family: 'Futura';
        font-style: normal;
        font-weight: 700;
        font-size: 0.9em;
        // line-height: 16px;
        /* identical to box height */

        letter-spacing: 0.1em;

        color: #0DA3C4;
        
        &.selected {
          background: #0DA3C4;
          color: #FFFFFF;
        }
      }
    }
  }
}