.skills {
  background: linear-gradient(180deg, rgba(255, 216, 115, 0.15) 10.42%, rgba(255, 216, 115, 0.15) 33.33%, rgba(13, 163, 196, 0.15) 51.04%);
  border-radius: 15px;
  margin: 1vh 5vw;
  border: 2px dashed #FFD873;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 26vh;
  overflow-y: scroll;

  .no_skills.scroll_down_text {
    font-size: 1em;
  }

  #skills_license {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .arrow {

      // margin: 30px 0;
      
      span{
        display: block;
        width: 1em;
        height: 1em;
        border-bottom: 4px solid #06A8FF;
        border-right: 4px solid #06A8FF;
        transform: rotate(45deg);
        margin-right: 2em;
        animation: animate 1.5s infinite;
      }
      .arrow span:nth-child(2){
        animation-delay: -0.2s;
      }
      .arrow span:nth-child(3){
        animation-delay: -0.4s;
      }
      @keyframes animate {
        0%{
          opacity: 0;
          transform: rotate(45deg) translate(-20px,-20px);
        }
        50%{
          opacity: 1;
        }
        100%{
          opacity: 0;
          transform: rotate(45deg) translate(20px,20px);
        }
      }
    }
  }
    
    h2 {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-left: 5%;

    color: rgba(0, 0, 0, 0.59);

    mix-blend-mode: luminosity;
  }

  .scroll_down_text {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 0.15em;
    margin: 1em;

    color: rgba(13, 163, 196, 0.5);

    // filter: blur(0.5px);
  }

  .skills_rows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // padding-left: 0.1em;


    .skill_details {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      
    }
  } 
}

.progress_container {
    margin: 10px;
    width: 62vw;
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.progress_bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  background-color: #0DA3C4;
  border-radius: inherit;
  text-align: 'right';
}

.percent_completed {
  color: white;
  font-weight: bold;
}




.skill_label {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  letter-spacing: 0.15em;

  color: rgba(0, 0, 0, 0.59);
  overflow-wrap: normal;
  white-space: nowrap;

}

