@import 'mixins';
@import 'fonts';
@import 'colors';

.arrow {
  opacity: 30%;
  filter: grayscale(10);
}
.rainbow {
  span {
    opacity: 30%;
  }
}

.week-heading {

  color: $primary_2;
  letter-spacing: 0.10em;
  text-align: center;
  margin: 0.1em;

  font: {
    family: $primary_font;
    weight: 500;
    size: 1.0em;
  }
  .key {
    font-weight: bold;

  }
}


.week {
  width: 90%;
  height: auto;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  border-radius: 20px;
  color: $primary_1;
  &.top {
    background-color: $primary_2;
  }
  &.bottom {
    background-color: initial;
    .trainedDay {
    }
  }
  font: {
    family: $primary_font;  
  }

}