@import 'mixins';
@import 'fonts';
@import 'colors';

.week-heading {

  color: $primary_2;
  letter-spacing: 0.10em;
  text-align: center;
  margin: 0.1em;

  font: {
    family: $primary_font;
    weight: 500;
    size: 1.0em;
  }
  .span {
    font-weight: 900;
  }
}
.week {
  width: 90%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  border-radius: 20px;
  background-color: $primary_2;
  color: $primary_1;

  font: {
    family: $primary_font;

  }

}