.form {
  background-color: #0DA4C5;
  height: 100vh;
}

.label{
  display: block;
  font-size: larger;
  color: white;
  padding: 5px;
  }
  
  .input{
  font-size: larger;
  padding: 5px;
  margin: 2px;
  
  }
  .btn{
  color: white;
  background-color: rgb(194, 62, 62);
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 10px auto;
  }
  
  .messages{
    position: fixed;
    z-index: 100;
    top: 45vh;
    border: 2px solid black;
    height: 20vh;
    border-radius: 30px;
    background-color: aquamarine;
    display: flex;
    align-items: center;

    .message {
      text-align: center;
    }
  }